<div class="container" ng-init="vm.getCards();">

    <div class="button-add">
        <a type="button" href="#!/cartao_add" class="btn btn-primary  btn-lg" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Adicionar cartão
        </a>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="centered">Cartões</h3>
        </div>

        <!--Mensagens de sucesso-->
        <div ng-if="msg_user" class="alert alert-success alert-dismissible fade in centered" id="div-msg" role="alert">
            <strong ng-bind="msg_user"></strong>
        </div>

        <error errors="errors"></error>

        <div id="loader"></div>

        <!--Tabela com a lista de cartões-->
        <table ng-if="vm.data.length" class="table table-hover table-striped">
            <tr>
                <th>Nome no cartão</th>
                <th>Mês de expiração</th>
                <th>Ano de expiração</th>
                <th>Bandeira</th>
                <th>Número</th>
                <th>Limite</th>
                <th>Limite disponível</th>
                <th>Pagamentos</th>
                <th class="centered">Editar Cartão</th>
                <th class="centered">Apagar Cartão</th>
            </tr>
            <tr ng-repeat="item in vm.data">

                <td>{{item.name}}</td>
                <td>{{item.exp_month}}</td>
                <td>{{item.exp_year}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.number}}</td>
                <td>{{item.limit}}</td>
                <td>{{item.available_limit}}</td>
                <td class="centered">

                    <a type="button" class="btn btn-primary"
                     ng-href="#!/pagamento/cartaoId/{{item.id}}" aria-label="Left Align">
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    </a>

                </td>
                <td class="centered">
                    <button type="button" class="btn btn-success" ng-click="vm.openModal(null,null,item.id)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                    <!-- Modal editar cartao -->

                </td>

                <td class="centered">
                    <button type="button" class="btn btn-danger centered" aria-label="Left Align" data-toggle="modal" data-target="#delete{{item.id}}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>

                    <!-- Modal para confirmação de exclusão de determinado cartão-->
                    <div class="modal fade" id="delete{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Apagar Cartão</h4>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja excluir o cartão de número "{{item.number}}"?
                                </div>
                                <div class="modal-footer centered">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="vm.deleteCard(item.id)">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>